{% extends "base.html" %}
{% load static %}
{% block content %}

<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Webmarket</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="404.html">خطای 404</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">

                <p class="container-404">
                    <img src="{% static 'images/404.png' %}" alt="404 Error" width="394" height="161" />
                </p>

                <hr />

                <p class="center-align size-16">
                    به نظر می آید مشکلی پیش آمده! صفحه این که به دنبال آن میگردید در اینجا نیست.
                </p>
                <p class="center-align size-16 push-down-50">
                    به <a href="{% url 'website:home' %}">خانه</a> باز گردید یا جستجو کنید :
                </p>

                <div class="row">
                    <div class="span4 offset4">
                        <div class="sidebar-item widget_search">
                            <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}" class="form">
                                <input type="text" placeholder="جستجو در نوشته ها ..." name="s"
                                    class="input-block-level" id="appendedInputButton">
                                <button type="submit">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </section> <!-- /main content -->
        </div>
    </div>
</div> <!-- /container -->

{% endblock %}