{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load humanize %}
{% block content %}


<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">وبمارکت</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">بلاگ</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="blog-single.html">تک نوشته</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up top-equal blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main Title =  -->
            <!--  ==========  -->

            <div class="span12">
                <div class="title-area">
                    <h1 class="inline"><span class="light">بلاگ</span> وبمارکت</h1>
                    <h2 class="inline tagline">- جایی که آدمهای باهوش، حرفهای احمقانه میزنند!</h2>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span8 single single-post">

                <!--  ==========  -->
                <!--  = Post =  -->
                <!--  ==========  -->
                <article class="post format-video">
                    <div class="post-inner">
                        <!-- <iframe src="{{ post.image.url }}" width="620" height="349" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                        <img src="{{ post.image.url }}" alt='{{ post.title }}' alt="{{post.title}}" />
                        <div class="post-title">
                            <h2><span class="light">{{post.title}}</h2>
                            <div class="metadata">
                                {{ post.shamsi_publish_date }}
                                /
                                نوشته شده توسط : <a title="View all posts in aciform"
                                    href="#">{{post.author.get_full_name}}</a>
                                /
                                تعداد بازدید : {{ post.counted_views }}
                            </div>
                        </div>
                        <p>{{post.content|safe}}</p>
                    </div>
                </article>

                <hr />

                <!--  ==========  -->
                <!--  = Comments =  -->
                <!--  ==========  -->

                <section id="comments" class="comments-container">
                    <h3 class="push-down-25"><span class="light">7</span> نظر</h3>

                    <!--  ==========  -->
                    <!--  = Single Comment =  -->
                    <!--  ==========  -->
                    {% for i in comments %}
                    <div class="single-comment clearfix">
                        <div class="avatar-container">
                            {% if i.user.profile.image.url %}
                            <div class="avatar"
                                style="width: 100px; height: 100px; border-radius: 50%; background-image: url('{{i.user.profile.image.url}}'); background-size: cover;">
                            </div>
                            {% else %}
                            <!-- <img src="{% static 'images/default.jpg' %}" alt="avatar" class="avatar" width="184"
                                height="184" style="border-radius: 50%;" /> -->
                            <div class="avatar"
                                style="width: 100px; height: 100px; border-radius: 50%; background-image: url('{% static 'images/default.jpg' %}'); background-size: cover;">
                            </div>
                            {% endif %}
                        </div>
                        <div class="comment-content">
                            <div class="comment-inner">
                                <cite class="author-name">
                                    <span class="light">{{i.first_name}} {{i.last_name}}</span>
                                </cite>
                                <div class="metadata">
                                    <!-- 26 فروردین 1392 در 12:30 بعد از ظهر -->
                                    <span dir="ltr">{{ i.created_at|naturaltime }}</span>
                                </div>
                                <div class="comment-text">
                                    <p>{{i.message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <hr />

                    <h3 class="push-down-25"><span class="light">نظر</span> بدهید</h3>

                    <form id="commentform" method="post" action="#"
                        class="form form-inline form-comments">
                        {% csrf_token %}
                        {% if request.user.is_authenticated %}
                        <input type="hidden" name="user" value="{{request.user.id}}">
                        {% endif %}
                        <input type="hidden" name="post" value="{{post.id}}">
                        <p class="push-down-20">
                            <input type="text" aria-required="true" name="first_name" tabindex="1" size="30" value=""
                                id="author" name="author" required>
                            <label for="author">نام<span class="red-clr bold">*</span></label>
                        </p>
                        <p class="push-down-20">
                            <input type="text" aria-required="true" name="last_name" tabindex="1" size="30" value=""
                                id="author" name="author" required>
                            <label for="author">نام خانوادگی<span class="red-clr bold">*</span></label>
                        </p>
                        <p class="push-down-20">
                            <textarea class="input-block-level" name="message" tabindex="4" rows="7" cols="70"
                                id="comment" name="comment" placeholder="نظرتان را در اینجا بنویسید ..."
                                required></textarea>
                        </p>
                        <p>
                            <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit">ارسال
                                نظر</button>
                        </p>
                    </form>

                </section>

            </section> <!-- /main content -->

            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span4 right-sidebar">

                <!--  ==========  -->
                <!--  = Search Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_search">
                    <!-- <div class="underlined">
                            <h3><span class="light">Search</span></h3>
                        </div> -->

                    <form class="form" action="#" id="searchform" method="get" role="search">
                        <input type="text" id="appendedInputButton" class="input-block-level" name="s"
                            placeholder="جستجو در نوشته ها ...">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div>

                <!--  ==========  -->
                <!--  = Flickr Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_flickr">
                    <div class="underlined">
                        <h3><span class="light">ابزارک</span> فلیکر</h3>
                    </div>

                    <div class="flickr-badge clearfix">
                        <!-- Start of Flickr Badge -->
                        <div id="flickr_badge_uber_wrapper">
                            <div id="flickr_badge_wrapper">
                                <script type="text/javascript"
                                    src="http://www.flickr.com/badge_code_v2.gne?count=9&display=random&size=s&layout=x&source=all_tag&tag=surf&user=29003388%40N04"></script>
                            </div>
                        </div>
                        <!-- End of Flickr Badge -->
                    </div>
                </div>

                {% postcategories %}

                <!--  ==========  -->
                <!--  = Twitter Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_twitter">
                    <div class="underlined">
                        <h3><span class="light">Twitter</span> Feed</h3>
                    </div>

                    <a class="twitter-timeline" href="https://twitter.com/primozدیوید"
                        data-widget-id="361435057526800385">Tweets by @primozدیوید</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

                </div>


            </aside> <!-- /sidebar -->

        </div>
    </div>
</div> <!-- /container -->


{% endblock %}