{% extends "base.html" %}
{% load blog_tags %}
{% load static %}
{% block content %}


<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">وبمارکت</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">بلاگ</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="blog.html">همه نوشته ها</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up top-equal blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main Title =  -->
            <!--  ==========  -->

            <div class="span12">
                <div class="title-area">
                    <h1 class="inline"><span class="light">بلاگ</span> وبمارکت</h1>
                    <h2 class="inline tagline">- جایی که آدمهای باهوش، حرفهای احمقانه میزنند!</h2>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span8 blog">
                <!--  ==========  -->
                <!--  = Post with Image =  -->
                <!--  ==========  -->
                {% for post in posts %}


                <article class="post format-image">
                    <div class="post-inner">
                        <a href="{% url 'blog:single' pid=post.id %}"><img src="{{ post.image.url }}" alt='{{ post.title }}'
                                alt="featured image" width="1540" height="746" /></a>
                        <div class="post-title">
                            <h2><a href="{% url 'blog:single' pid=post.id %}"><span class="light">{{ post.title }}</a></h2>
                            <div class="metadata">
                                16 فروردین 1392 /
                                نوشته شده توسط : <a rel="category tag" title="View all posts in aciform"
                                    href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a>
                            </div>
                        </div>

                        <p class="push-down-25">
                            {{ posts.category.all | join:", "}}
                            {{ post.content|truncatewords:80|safe }}
                        </p>

                        <a href="{% url 'blog:single' pid=post.id %}" class="btn btn-primary bold higher">ادامه مطلب</a>
                    </div>
                </article>
                {% endfor %}
                <!--  ==========  -->
                <!--  = Pagination =  -->
                <!--  ==========  -->
                <div class="pagination" style="text-align: center;">
                    <ul>
                        {% if posts.has_previous %}
                        <li><a href="?page={{ posts.previous_page_number }}" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                        {% endif %}
                            {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                            <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                            {% else %}
                            <li><a href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                        {% if posts.has_next %}
                        <li><a href="?page={{ posts.next_page_number }}" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                        {% endif %}
                    </ul>
                </div> <!-- /pagination -->

            </section> <!-- /main content -->

            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span4 right-sidebar">

                <!--  ==========  -->
                <!--  = Search Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_search">
                    <!-- <div class="underlined">
                            <h3><span class="light">Search</span></h3>
                        </div> -->

                    <form class="form" action="{% url 'blog:search' %}" id="searchform" method="get" role="search">
                        <input type="text" id="appendedInputButton" class="input-block-level" name="s"
                            placeholder="جستجو در نوشته ها ...">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div>

                <!--  ==========  -->
                <!--  = Flickr Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_flickr">
                    <div class="underlined">
                        <h3><span class="light">ابزارک</span> فلیکر</h3>
                    </div>

                    <div class="flickr-badge clearfix">
                        <!-- Start of Flickr Badge -->
                        <div id="flickr_badge_uber_wrapper">
                            <div id="flickr_badge_wrapper">
                                <script type="text/javascript"
                                    src="http://www.flickr.com/badge_code_v2.gne?count=9&display=random&size=s&layout=x&source=all_tag&tag=surf&user=29003388%40N04"></script>
                            </div>
                        </div>
                        <!-- End of Flickr Badge -->
                    </div>
                </div>

                {% postcategories %}

                <!--  ==========  -->
                <!--  = Twitter Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_twitter">
                    <div class="underlined">
                        <h3><span class="light">فید</span> توییتر</h3>
                    </div>

                    <a class="twitter-timeline" href="https://twitter.com/primozدیوید"
                        data-widget-id="361435057526800385">Tweets by @primozدیوید</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

                </div>


            </aside> <!-- /sidebar -->

        </div>
    </div>
</div> <!-- /container -->

{% endblock %}