{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load humanize %}
{% block content %}


<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'website:home' %}">وبمارکت</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="{% url 'blog:blog' %}">بلاگ</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="{{ request.path }}">{{request.path}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up top-equal blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main Title =  -->
            <!--  ==========  -->

            <div class="span12">
                <div class="title-area">
                    <h1 class="inline"><span class="light">بلاگ</span> وبمارکت</h1>
                    <h2 class="inline tagline">- جایی که آدمهای باهوش، حرفهای احمقانه میزنند!</h2>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span8 single single-post">

                <!--  ==========  -->
                <!--  = Post =  -->
                <!--  ==========  -->
                <article class="post format-video">
                    <div class="post-inner">
                        <!-- <iframe src="{{ post.image.url }}" width="620" height="349" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                        <img src="{{ post.image.url }}" alt='{{ post.title }}' alt="{{post.title}}" />
                        <div class="post-title">
                            <h2><span class="light">{{post.title}}</h2>
                            <div class="metadata">
                                {{ post.shamsi_publish_date }}
                                /
                                نوشته شده توسط : <a title="View all posts in aciform"
                                    href="#">{{post.author.get_full_name}}</a>
                                /
                                تعداد بازدید : {{ post.counted_views }}
                            </div>
                        </div>
                        <p>{{post.content|safe}}</p>
                    </div>
                </article>

                <hr />

                <!--  ==========  -->
                <!--  = Comments =  -->
                <!--  ==========  -->

                <section id="comments" class="comments-container">
                    <h3 class="push-down-25"><span class="light">{{cc}}</span> نظر</h3>

                    <!--  ==========  -->
                    <!--  = Single Comment =  -->
                    <!--  ==========  -->
                    {% for i in comments %}
                    <div class="single-comment clearfix">
                        <div class="avatar-container">
                            {% if i.user.profile.image.url %}
                            <div class="avatar"
                                style="width: 100px; height: 100px; border-radius: 50%; background-image: url('{{i.user.profile.image.url}}'); background-size: cover;">
                            </div>
                            {% else %}
                            <!-- <img src="{% static 'images/default.jpg' %}" alt="avatar" class="avatar" width="184"
                                height="184" style="border-radius: 50%;" /> -->
                            <div class="avatar"
                                style="width: 100px; height: 100px; border-radius: 50%; background-image: url('{% static 'images/default.jpg' %}'); background-size: cover;">
                            </div>
                            {% endif %}
                        </div>
                        <div class="comment-content">
                            <div class="comment-inner">
                                <cite class="author-name">
                                    <span class="light">{{i.first_name}} {{i.last_name}}</span>
                                </cite>
                                <div class="metadata">
                                    <!-- 26 فروردین 1392 در 12:30 بعد از ظهر -->
                                    <span dir="ltr">{{ i.created_at|naturaltime }}</span>
                                </div>
                                <div class="comment-text">
                                    <p>{{i.message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <hr />

                    <h3 class="push-down-25"><span class="light">نظر</span> بدهید</h3>

                    <form id="commentform" method="post" action="{% url 'blog:single' pid=post.id %}"
                        class="form form-inline form-comments">
                        {% csrf_token %}
                        {% if request.user.is_authenticated %}
                        <input type="hidden" name="user" value="{{request.user.id}}">
                        {% endif %}
                        <input type="hidden" name="post" value="{{post.id}}">
                        <p class="push-down-20">
                            <input type="text" aria-required="true" name="first_name" tabindex="1" size="30" value=""
                                id="author" name="author" required>
                            <label for="author">نام<span class="red-clr bold">*</span></label>
                        </p>
                        <p class="push-down-20">
                            <input type="text" aria-required="true" name="last_name" tabindex="1" size="30" value=""
                                id="author" name="author" required>
                            <label for="author">نام خانوادگی<span class="red-clr bold">*</span></label>
                        </p>
                        <p class="push-down-20">
                            <textarea class="input-block-level" name="message" tabindex="4" rows="7" cols="70"
                                id="comment" name="comment" placeholder="نظرتان را در اینجا بنویسید ..."
                                required></textarea>
                        </p>
                        <p>
                            <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit">ارسال
                                نظر</button>
                        </p>
                    </form>

                </section>

            </section> <!-- /main content -->

            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span4 right-sidebar">
                <!--  ==========  -->
                <!--  = Flickr Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_flickr">
                    <div class="underlined">
                        <h3><span class="light">ابزارک</span> فلیکر</h3>
                    </div>

                    <div class="flickr-badge clearfix">
                        <!-- Start of Flickr Badge -->
                        <div id="flickr_badge_uber_wrapper">
                            <div id="flickr_badge_wrapper">
                                <script type="text/javascript"
                                    src="http://www.flickr.com/badge_code_v2.gne?count=9&display=random&size=s&layout=x&source=all_tag&tag=surf&user=29003388%40N04"></script>
                            </div>
                        </div>
                        <!-- End of Flickr Badge -->
                    </div>
                </div>

                {% postcategories %}

                <!--  ==========  -->
                <!--  = Twitter Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_archive">
                    <div class="underlined">
                        <h3><span class="light"> یکمی جا </span>برای متن های دلخواهمون</h3>
                    </div>
                    <p>این پروژه یک فروشگاه آنلاین بر پایه جنگو می‌باشد که به مدیر سایت امکان اضافه کردن متن‌های دلخواه
                        را فراهم می‌کند. با استفاده از این قابلیت، مدیران سایت می‌توانند مطالب، خبرها یا توضیحات محصولات
                        را به آسانی به وبسایت خود اضافه کرده و آن را به روز نگه دارند. یکی از مزایای استفاده از چارچوب
                        جنگو برای این پروژه، سرعت و کارایی بالاست. جنگو با داشتن یک ساختار کدی منظم و قوی، توسعه سریع و
                        بهینه‌ای را برای توسعه‌دهندگان فراهم می‌کند.
                    </p>
                    <p>
                    از طرفی، یکی از معایب جنگو ممکن است پیچیدگی آن برای مبتدیان باشد. چارچوب جنگو شامل بخش‌های
                    متعددی از جمله ORM (Object-Relational Mapping)، تشخیص واسط کاربری، مدیریت تصاویر و... است که
                    ممکن است برای کسانی که تازه وارد این حوزه هستند، یادگیری آنها زمان بیشتری را اشغال کند. با این
                    حال، با انعطاف‌پذیری و توانایی بالای جنگو، این معایب نیز قابل پیش‌بینی و قابل حل هستند.</p>
                </div>
            </aside> <!-- /sidebar -->
        </div>
    </div>
</div> <!-- /container -->


{% endblock %}