{% extends "base.html" %}
{% load blog_tags %}
{% load static %}
{% block content %}

<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">وبمارکت</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">فروشگاه</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="#">محصول ویژه</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="product.html">تی شرت مردانه کلاه دار</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  ==========  -->
<!--  = Main container =  -->
<!--  ==========  -->
<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer">

            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="product-preview">
                    <div class="picture">
                        <img src="{{ prod.image.url }}" alt="" width="940" height="940" id="img" />
                    </div>
                    <div class="thumbs clearfix">
                        {% if prod.image %}
                        <div class="thumb active">
                            <a href="#img"><img src="{{ prod.image.url }}" alt="" width="940" height="940" /></a>
                        </div>
                        {% endif %}
                        {% if prod.image2 %}
                        <div class="thumb">
                            <a href="#img"><img src="{{ prod.image2.url }}" alt="" width="940" height="940" /></a>
                        </div>
                        {% endif %}
                        {% if prod.image3 %}
                        <div class="thumb">
                            <a href="#img"><img src="{{ prod.image3.url }}" alt="" width="940" height="940" /></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            <div class="span7">
                <div class="product-title">
                    <h1 class="name">{{prod.name}}</h1>
                    <div class="meta">
                        <span class="tag">{{prod.price}} تومان</span>
                        <span class="stock">
                            {% if prod.available %}
                            <span class="btn btn-success">موجود</span>
                            {% else %}
                            <span class="btn btn-danger">اتمام موجودی</span>
                            {% endif %}
                            <!-- <span class="btn btn-warning">تماس بگیرید</span> -->
                        </span>
                    </div>
                </div>
                <div class="product-description">
                    <p>{{ prod.description|truncatewords:220|safe }}</p>
                    <hr />

                    <!--  ==========  -->
                    <!--  = Add to cart form =  -->
                    <!--  ==========  -->
                    <form action="#" class="form form-inline clearfix">
                        <div class="numbered">
                            <input type="text" name="num" value="1" class="tiny-size" />
                            <span class="clickable add-one icon-plus-sign-alt"></span>
                            <span class="clickable remove-one icon-minus-sign-alt"></span>
                        </div>
                        &nbsp;
                        <select name="color" class="span2">
                            <option value="-1">انتخاب رنگ</option>
                            <option value="blue">آبی</option>
                            <option value="orange">نارنجی</option>
                            <option value="black">مشکی</option>
                        </select>
                        &nbsp;
                        <select name="size" class="span2">
                            <option value="-1">انتخاب سایز</option>
                            <option value="XS">خیلی کوچک</option>
                            <option value="S">کوچک</option>
                            <option value="M">متوسط</option>
                            <option value="L">بزرگ</option>
                            <option value="XL">خیلی بزرگ</option>
                            <option value="XXL">خیلی خیلی بزرگ</option>
                        </select>
                        <button class="btn btn-danger pull-right"><i class="icon-shopping-cart"></i> اضافه به سبد
                            خرید</button>
                    </form>

                    <hr />
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Tabs with more info =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-1" data-toggle="tab">جزئیات</a>
                    </li>
                    <li>
                        <a href="#tab-2" data-toggle="tab">جدول اندازه</a>
                    </li>
                    <li>
                        <a href="#tab-3" data-toggle="tab">نظرات</a>
                    </li>
                    <li>
                        <a href="#tab-4" data-toggle="tab">جزئیات ارسال</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="fade in tab-pane active" id="tab-1">
                        <h3>توضیحات محصول</h3>
                        <p>{{ prod.description|safe }}</p>
                    </div>
                    <div class="fade tab-pane" id="tab-2">
                        <p>
                            لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی
                            شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات
                            زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و
                            کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.
                            حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج
                            درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این
                            ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود.
                        </p>
                    </div>
                    <div class="fade tab-pane" id="tab-3">
                        <p>
                            لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی
                            شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات
                            زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و
                            کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.
                            حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج
                            درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این
                            ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود.
                        </p>
                    </div>
                    <div class="fade tab-pane" id="tab-4">
                        <p>
                            لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی
                            شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات
                            زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و
                            کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.
                            حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج
                            درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این
                            ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<!--  ==========  -->
<!--  = Related Products =  -->
<!--  ==========  -->
<div class="boxed-area no-bottom">
    <div class="container">

        <!--  ==========  -->
        <!--  = Title =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                    <h2 class="title"><span class="light">محصولات</span> مرتبط</h2>
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Related products =  -->
        <!--  ==========  -->
        <div class="row popup-products">

            {% for i in prodc %}
            <!--  ==========  -->
            <!--  = Products =  -->
            <!--  ==========  -->
            <div class="span3">
                <div class="product">
                    <div class="product-img">
                        <div class="picture">
                            <img src="{{ i.image.url }}" alt="" width="540" height="374" />
                            <div class="img-overlay">
                                <a href="{% url 'store:product' pid=i.id %}" class="btn more btn-primary">توضیحات بیشتر</a>
                                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                            </div>
                        </div>
                    </div>
                    <div class="main-titles no-margin">
                        <h4 class="title"><span class="striked">{{i.price}} تومان</span> <span class="red-clr">80000
                                تومان</span></h4>
                        <h5 class="no-margin">{{i.name}}</h5>
                    </div>
                    <p class="desc">{{ i.description|truncatechars:200|safe }}</p>
                    <p class="center-align stars">
                        <span class="icon-star stars-clr"></span>
                        <span class="icon-star stars-clr"></span>
                        <span class="icon-star stars-clr"></span>
                        <span class="icon-star stars-clr"></span>
                        <span class="icon-star"></span>
                    </p>
                </div>
            </div> <!-- /product -->
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}