{% extends "base.html" %}
{% load blog_tags %}
{% load store_tags %}
{% load static %}
{% block content %}



<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li>
						<a href="index.html">وبمارکت</a>
					</li>
					<li><span class="icon-chevron-right"></span></li>
					<li>
						<a href="shop.html">فروشگاه</a>
					</li>
					<li><span class="icon-chevron-right"></span></li>
					<li>
						<a href="shop.html">قالب بندی اصلی</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="push-up blocks-spacer">
		<div class="row">

			<!--  ==========  -->
			<!--  = Sidebar =  -->
			<!--  ==========  -->
			<aside class="span3 left-sidebar" id="tourStep1">
				<div class="sidebar-item sidebar-filters" id="sidebarFilters">

					<!--  ==========  -->
					<!--  = Sidebar Title =  -->
					<!--  ==========  -->
					<div class="underlined">
						<h3><span class="light">بر اساس فیلتر</span> خرید کنید</h3>
					</div>

					<!--  ==========  -->
					<!--  = Categories =  -->
					<!--  ==========  -->
					<div class="accordion-group" id="tourStep2">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#filterOne">دسته بندی ها <b
									class="caret"></b></a>
						</div>
						<div id="filterOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								{% for i in categories %}
								<h6><a style="color: black; text-decoration: none;"
										href="{% url 'store:category' cat_name=i %}" data-target="{{i}}"></h6>
								{{i}}</a>
								{% endfor %}
							</div>
						</div>
					</div> <!-- /categories -->

					<!--  ==========  -->
					<!--  = Prices slider =  -->
					<!--  ==========  -->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#filterPrices">قیمت <b
									class="caret"></b></a>
						</div>
						<div id="filterPrices" class="accordion-body in collapse">
							<div class="accordion-inner with-slider">
								<div class="jqueryui-slider-container">
									<div id="pricesRange"></div>
								</div>
								<input type="text" data-initial="432" class="max-val pull-right" disabled />
								<input type="text" data-initial="99" class="min-val" disabled />
							</div>
						</div>
					</div> <!-- /prices slider -->

					<!--  ==========  -->
					<!--  = Size filter =  -->
					<!--  ==========  -->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterTwo">سایز <b
									class="caret"></b></a>
						</div>
						<div id="filterTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								{% for i in sizes %}
								<a href="#" data-target="{{i}}" data-type="size" class="selectable detailed"><i
										class="box"></i> {{i}}</a>
								{% endfor %}
							</div>
						</div>
					</div> <!-- /size filter -->

					<!--  ==========  -->
					<!--  = Color filter =  -->
					<!--  ==========  -->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterThree">رنگ <b
									class="caret"></b></a>
						</div>
						<div id="filterThree" class="accordion-body collapse">
							<div class="accordion-inner">
								{% for i in colors %}
								<a href="#" data-target="{{i}}" data-type="color" class="selectable detailed"><i
										class="box"></i>{{i}}</a>
								{% endfor %}
							</div>
						</div>
					</div> <!-- /color filter -->

					<!--  ==========  -->
					<!--  = Brand filter =  -->
					<!--  ==========  -->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterFour">برند <b
									class="caret"></b></a>
						</div>
						<div id="filterFour" class="accordion-body collapse">
							<div class="accordion-inner">
								{% for i in brands %}
								<a href="#" data-target="{{i}}" data-type="brand" class="selectable detailed"><i
										class="box"></i>{{i}}</a>
								{% endfor %}
							</div>
						</div>
					</div> <!-- /brand filter -->

					<a href="#" class="remove-filter" id="removeFilters"><span class="icon-ban-circle"></span> حذف همه
						فیلتر ها</a>

				</div>
			</aside> <!-- /sidebar -->

			<!--  ==========  -->
			<!--  = Main content =  -->
			<!--  ==========  -->
			<section class="span9">

				<!--  ==========  -->
				<!--  = Title =  -->
				<!--  ==========  -->
				<div class="underlined push-down-20">
					<div class="row">
						<div class="span5">
							<h3><span class="light">همه</span> محصولات</h3>
						</div>
						<div class="span4">
							<div class="form-inline sorting-by" id="tourStep4">
								<label for="isotopeSorting" class="black-clr">چینش :</label>
								<select id="isotopeSorting" class="span3">
									<option value='{"sortBy":"published_at", "sortAscending":"true"}'>بر اساس جدید ترین
										&uarr;</option>
									<option value='{"sortBy":"published_at", "sortAscending":"false"}'>بر اساس قدیمی
										ترین
										&darr;</option>
									<option value='{"sortBy":"price", "sortAscending":"true"}'>بر اساس قیمت (کم به زیاد)
										&uarr;</option>
									<option value='{"sortBy":"price", "sortAscending":"false"}'>بر اساس قیمت (زیاد به
										کم) &darr;</option>
									<option value='{"sortBy":"name", "sortAscending":"true"}'>بر اساس نام (صعودی) &uarr;
									</option>
									<option value='{"sortBy":"name", "sortAscending":"false"}'>بر اساس نام (نزولی)
										&darr;</option>
									<option value='{"sortBy":"popularity", "sortAscending":"true"}'>بر اساس محبوبیت (کم
										به زیاد) &uarr;</option>
									<option value='{"sortBy":"popularity", "sortAscending":"false"}'>بر اساس محبوبیت
										(زیاد به کم) &darr;</option>
								</select>
							</div>
						</div>
					</div>
				</div> <!-- /title -->

				<!--  ==========  -->
				<!--  = Products =  -->
				<!--  ==========  -->
				<div class="row popup-products">
					<div id="isotopeContainer" class="isotope-container">



						<!--  ==========  -->
						<!--  = Single Product =  -->
						<!--  ==========  -->
						{% for product in products %}
						<div class="span3 filter--blazers" data-price="{{product.price}}"
							data-popularity="{{Product.star}}" data-size="{{product.size}}"
							data-color="{{product.color}}" data-brand="{{product.brand}}"
							data-category="{{product.category}}">
							<div class="product">
								{% if product.available == 0 %}
								<div class="stamp red">تمام شد</div>
								{% else %}
								<div class="stamp green">موجود</div>
								{% endif %}
								<div class="product-img">
									<div class="picture">
										<img width="540" height="374" alt="" src="{{ product.image.url }}" />
										<div class="img-overlay">
											<a class="btn more btn-primary"
												href="{% url 'store:product' pid=product.id %}">توضیحات بیشتر</a>
											{% if product.available == 1 %}
											<a class="btn buy btn-danger" href="#">اضافه به سبد خرید</a>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="main-titles no-margin">
									<h1 style="font-size: medium;" class="no-margin isotope--title">{{product.name}}
									</h1>
									<br>
									{% if product.price_off %}
									<h6 style="font-size: medium; display: inline;" class="title"><del>{{product.price}}
											تومان</del></h6>
									<h6 style="font-size: medium; display: inline; color: green;" class="title">
										{{product.price_off}} تومان</h6>
									<h6
										style="font-size: medium; display: inline; color: red; border: 3px solid red; padding-left: 3px; padding-right: 3px; border-radius: 10px; padding-top: 5px;">
										OFF </h6>
									{% else %}
									<h6 style="font-size: medium;" class="title">{{product.price}} تومان</h6>
									{% endif %}
								</div>
								<p class="center-align stars">
									{% for _ in product.star|times_n %}
									<span class="icon-star"></span>
									{% endfor %}
									{% for _ in product.star|times %}
									<span class="icon-star stars-clr"></span>
									{% endfor %}
								</p>
							</div>
						</div> <!-- /single product -->
						{% endfor %}

					</div>
				</div>
				<hr />
			</section> <!-- /main content -->
		</div>
	</div>
</div> <!-- /container -->

<!--  ==========  -->
<!--  = Pagination =  -->
<!--  ==========  -->
<div class="pagination" style="text-align: center;">
	<ul>
		{% if products.has_previous %}
		<li><a href="?page={{ products.previous_page_number }}" class="btn btn-primary"><span
					class="icon-chevron-left"></span></a></li>
		{% endif %}
		{% for i in products.paginator.page_range %}
		{% if products.number == i %}
		<li class="active"><a href="?page={{i}}">{{i}}</a></li>
		{% else %}
		<li><a href="?page={{i}}">{{i}}</a></li>
		{% endif %}
		{% endfor %}
		{% if products.has_next %}
		<li><a href="?page={{ products.next_page_number }}" class="btn btn-primary"><span
					class="icon-chevron-right"></span></a></li>
		{% endif %}
	</ul>
</div> <!-- /pagination -->

{% endblock %}